.spotlight-container,
.spotlight-container2,
.spotlight-container3 {
	border: 5px solid blue;
	border-radius: 10px;
	padding: 10px;
	max-width: 300px;
}

.spotlight-image {
	text-align: center;
}

.spotlight-image img {
	max-width: 100%;
	border-radius: 5px;
}

.spotlight-content1,
.spotlight-content {
	margin-top: 10px;
}

.spotlight-content1 h2,
.spotlight-content h2 {
	font-size: 1.5em;
	margin: 0;
}

.spotlight-content1 p,
.spotlight-content p {
	font-size: 1em;
	color: #555;
}

.spotlight-icon {
	margin-top: 10px;
	text-align: center;
}

.spotlight-icon img {
	width: 20px;
	height: 20px;
}

.spotlight-wrapper {
	display: flex;
	justify-content: space-around;
	gap: 20px;
}
